body {
    background-color: rgb(196, 250, 196);
}

.nav-bar {
    width: 100%;
    height: 100px;
    background: rgb(255, 47, 47);
    margin: 0 auto;
}

.content {
    width: 70%;
    min-width: 300px;
    height: auto;
    margin: 0 auto; /*center a container without involving items*/
    background: rgb(238, 238, 238);
}

.flex-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; /*the same spacing between items*/
    /*justify-content: space-around;*/ /*every items have own side space, so it two space between items, but one space between start and end sides*/
}

.flex-item {
    width: 300px;
    height: 400px;
    background: tomato;
}

footer {
    text-align: center;
}