body {
    background-color: rgb(196, 250, 196);
}

.nav-bar {
    width: 100%;
    height: 100px;
    background: rgb(255, 47, 47);
}

.content {
    width: 70%;
    min-width: 300px;
    height: auto;
    margin: 0 auto; /*center a container without involving items*/
    background: rgb(238, 238, 238);
}

.flex-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; /*the same spacing between items*/
    /*justify-content: space-around;*/ 
    /*every items have own side space, 
    so it two space between items, 
    but one space between start and end sides*/
    row-gap: 25px;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 25px 0px;
}

.flex-item {
    flex-basis: calc(100% / 3);
    height: 250px;
    background: tomato;
}

.grid-item {
    width: 200px;
    height: 250px;
    background: tomato;
    justify-self: center;
}

footer {
    text-align: center;
}