body {
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}

html:root {
  --bg: #0b0d12;
  --navbar-bg: #f4f4f5;
  --nav-links-color: black;
  --nav-links-color-hover: rgb(86, 0, 86);
  --nav-links-bg-hover: #6e48aa23;
  --nav-links-bg-active: #e9e9ec;
  --nav-link-active-border-color: rgb(185, 71, 255);
  --nav-link-active-taxt-color: rgb(96, 7, 96);
}

.container {
  width: 70%;
  min-width: 300px;
  height: auto;
  margin: 0 auto; /*center a container without involving items*/
}

@media (min-width: 320px) {
  .container {
    width: 100%;
  }
}

.sticky-nav {
  position: fixed;
  left: 20%;
  right: 20%;
  top: 1%;
  height: 75px;
  z-index: 9999;
  background: var(--navbar-bg);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  transition:
    left 0.7s ease,
    right 0.7s ease,
    top 0.7s ease,
    border-radius 0.7s ease;
}

.sticky-nav.scrolled {
  justify-content: flex-start;
  left: 1%;
  right: auto;
  width: 90px;
  height: 90%;
  flex-direction: column;
  border-radius: 15px;
  padding: 25px 0;
  gap: 50px;
  transition:
    right 0.7s ease,
    top 0.7s ease,
    height 0.7s ease,
    border-radius 0.7s ease;
}

.nav-links.scrolled {
  display: flex;
  flex-direction: column;
  transition: 0.7s ease;
}

.nav-links.scrolled a {
  font-size: smaller;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo img {
  width: 55px;
}

.nav-links {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  transition: 0.7s ease;
}

.nav-links a {
  text-decoration: none;
  color: var(--nav-links-color);
  height: fit-content;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: large;
}

.nav-links a:hover {
  background-color: var(--nav-links-bg-hover);
  color: var(--nav-links-color-hover);
}

.nav-links a:active {
  background-color: var(--nav-links-bg-active);
}

.nav-links a.active,
.nav-links a.active:hover {
  border-radius: 0px;
  border-bottom: 4px solid var(--nav-link-active-border-color);
  color: var(--nav-link-active-text-color);
  background-color: transparent;
}

.grid-content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 320px);
  max-width: clamp(320px, 90%, 1700px);
  margin: 0 auto;
  padding: 95px 0px 25px;
  gap: 25px 25px;
}

.grid-item {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 250px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-container {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  z-index: 2;
}

.category-label {
  display: inline-flex;
  max-width: fit-content;
  background-color: white;
  opacity: 0.7;
  font-weight: bold;
  border-radius: 15px;
  padding: 0 5px;
}

footer {
  padding: 50px 0;
  text-align: center;
  color: #ffffff90;
}
